@page
@model eBookStore.Pages.General.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.email_address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.email_address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.first_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.first_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role.role_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Publisher.city)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User?.user_id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
